.o
autom4te.cache
config.log
.project
.cproject
config.conf
make.sh
config.guess
hsniff
mkinstalldirs
libtool
config.status
config.status.lineno
honeyd
install-sh
missing
honeydctl
config.sub
compile
libhoneyd.so
honeydstats
scribbles
